#mainHead
{
	text-align: center;
	font-size: 2em;
}

#mainFeed
{
	text-align: center;
}

#home
{
	background-color: #E5E5E5;
	border-width: .2em;
	border-style: solid;
	border-radius: .5em;
}


#aboutMe
{
	text-align: center;
	font-size: 2em;
}

#aboutArts
{
	text-align: center;
	font-size: 2em;	
}

#alec
{
	text-align: center;
	font-size: 20px;
	margin-bottom: 3em;
}

#alecIMG
{
	width: 30%;
	margin-left: 33em;
}

#alecSM
{
	text-align: center;
	font-size: 2em;	
}

#alecSocial
{
	text-align: center;
	font-size: 20px;	
}

#aboutArticles
{
	text-align: center;
	font-size: 20px;
	margin-bottom: 3em;
}

#about
{
	margin-bottom: 3em;
}

#arts
{
	margin-bottom: 3em;
}

#media
{
	list-style-type: none;
	margin-left: 15em;
	margin-bottom: 5em;
	padding: 0px;
}

#media li
{
  text-align: center;
  background: #A39F9B;
  float: left;
  height: 50px;
  width: 20%;
  font-size: 1.5em;
}

#media li:nth-child(even)
{
	background: #776F63;
}


#current
{
	text-align: center;
	font-size: 2em;		
}

#heroes
{
	width: 94%;
}

#cvs
{
	width: 94%;
}

.navigation
{
	list-style-type: none;
	padding: 0;
}


.navigation li
{
  text-align: center;
  background: #A39F9B;
  float: left;
  height: 50px;
  width: 20%;
  font-size: 1.5em;
}

.navigation li:nth-child(even)
{
	background: #776F63;
}


.articles
{
	margin-left: 25em;
	margin-bottom: 10em;
}

.text
{
  text-align: center;
  font-size: 1em;	
}

.musicButtons
{
	margin-left: 43em;
}

#sources
{
	text-align: center;
	font-size: 2em;		
}

#tableSource
{
	margin-left: 17em;
	margin-bottom: 5em;
}

.new
{
	text-align: center;
	font-size: 2em;	
	margin-bottom: 3em;
	margin-top: 3em;	
}

.tdIMG
{
	width: 50%;
}

@media (max-width: 600px)
{
	#mainHead
	{
		width: 30%;
	}
	#mainFeed
	{
		width: 30%;
	}

	#home
	{
		width: 30%;
	}


	#aboutMe
	{
		width: 30%;
	}

	#aboutArts
	{
		width: 30%;
	}

	#alec
	{
		width: 30%;
	}

	#alecIMG
	{
		max-width: 100%;
	}

	#alecSM
	{
		width: 30%;
	}

	#alecSocial
	{
		width: 30%;	
	}

	#aboutArticles
	{
		width: 30%;
	}

	#about
	{
		width: 30%;
	}

	#arts
	{
	width: 30%;
	}

	#media
	{
	width: 30%;
	}

	#media li
	{
	 width: 30%;
	}

	#current
	{
	width: 30%;	
	}

	#heroes
	{
	max-width: 94%;
	}

	#cvs
	{
	max-width: 94%;
	}

	.navigation
	{
	width: 30%;
	}


	.navigation li
	{
  	width: 30%;
	}

	.articles
	{
	width: 30%;
	}

	.text
	{
  	width: 30%;
	}

	.musicButtons
	{
		width: 30%;
	}

	#sources
	{
		width: 30%;		
	}
	
	#tableSource
	{
		width: 30%;
	}
	
	.new
	{
		width: 30%;
	}
	
	.tdIMG
	{
		max-width: 50%;
	}
	
}

