/* line 3, ../sass/components/_main.scss */
.media-grid {
  list-style-type: none;
  background: #846f8d;
  padding: 0;
}

/* line 10, ../sass/components/_main.scss */
.media-grid li {
  text-align: center;
  background: #DEC39D;
  float: left;
  height: 200px;
  width: 20%;
}

/* line 18, ../sass/components/_main.scss */
.media-grid li:nth-child(even) {
  background: #FFCC87;
}

/* line 22, ../sass/components/_main.scss */
.media-grid.media-grid-sm li {
  width: 10%;
  height: 100px;
}

/* line 29, ../sass/components/_main.scss */
.PageHeader {
  background: #B6A388;
  height: 500px;
  font-size: 36px;
  text-align: center;
}

/* line 39, ../sass/components/_main.scss */
.PageHeader header {
  margin-bottom: -50px;
}

/* line 44, ../sass/components/_main.scss */
.accomplishment {
  background: #FFF;
  text-align: center;
  font-size: 36px;
}

/* line 53, ../sass/components/_main.scss */
.accomplishment img {
  height: 50%;
  width: 50%;
}

/* line 60, ../sass/components/_main.scss */
.AboutMe {
  background: #B6A388;
  height: 500px;
}

/* line 68, ../sass/components/_main.scss */
.AboutMe p {
  margin: 10px;
  text-align: justify;
  font-size: 24px;
}

/* line 75, ../sass/components/_main.scss */
.AboutMe li {
  font-size: 20px;
}

/* line 80, ../sass/components/_main.scss */
.AboutMe #Games {
  float: left;
}

/* line 85, ../sass/components/_main.scss */
.AboutMe #Series {
  float: left;
}

/* line 90, ../sass/components/_main.scss */
.AboutMe #People {
  float: left;
}

/* line 95, ../sass/components/_main.scss */
.BigBody {
  padding: 0;
  margin: 0;
  border: 3px solid black;
  border-radius: 1px;
  background: #FFF;
}

/* line 104, ../sass/components/_main.scss */
body {
  background: #D3B894;
}

/* line 2, ../sass/components/_additions.scss */
.AboutMe {
  text-shadow: 0px 0px 1px #aaaaaa;
}

/* line 7, ../sass/components/_additions.scss */
body {
  background-image: -webkit-gradient(linear, to bottom right, to top left, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(to bottom right, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(to bottom right, #ffffff, #dddddd);
  background-image: -o-linear-gradient(to bottom right, #ffffff, #dddddd);
  background-image: linear-gradient(to bottom right, #ffffff, #dddddd);
}

/* line 12, ../sass/components/_additions.scss */
.BigBody {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
